Read in packages

In [22]:
import pandas as pd
import os
import numpy as np
import xarray as xr
import rioxarray
import glob
import random
import geopandas as gpd
from sklearn.utils import shuffle
from MightyMosaic import MightyMosaic
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [10]:
# Load your data
df = gpd.read_file('/explore/nobackup/people/spotter5/cnn_mapping/raw_files/nbac_1985.shp')
df2 = gpd.read_file('/explore/nobackup/people/spotter5/cnn_mapping/raw_files/ak_mtbs_1985.shp').to_crs(df.crs)

df['AOI'] = 'NBAC'
df2['AOI'] = 'MTBS'


df = pd.concat([df, df2], ignore_index = True)

df = df[['AOI', 'ID']]
# Initialize KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Preparing indices for entire data shuffling
df_shuffled = df.sample(frac=1, random_state=42).reset_index(drop=True)

# Split data into 5 folds
fold = 0
results = []
for train_val_index, test_index in kf.split(df_shuffled):
    # Extract test set (20% of total)
    test_df = df_shuffled.iloc[test_index]

    # Extract the remaining data for this fold
    train_val_df = df_shuffled.iloc[train_val_index]

    # Further split remaining data into training (70% of total, 87.5% of remaining) and validation (10% of total, 12.5% of remaining)
    train_df, val_df = train_test_split(train_val_df, test_size=0.125, random_state=42)  # 0.125 * 0.8 = 0.1 ~ 10% of total

    # Save each fold's datasets to CSV files
    train_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/train_fold_{fold}.csv', index=False)
    val_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/val_fold_{fold}.csv', index=False)
    test_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_{fold}.csv', index=False)

    fold += 1
    print(f"Fold {fold}: Train {train_df.shape}, Validation {val_df.shape}, Test {test_df.shape}")
    results.append((train_df.shape, val_df.shape, test_df.shape))

Fold 1: Train (8697, 2), Validation (1243, 2), Test (2485, 2)
Fold 2: Train (8697, 2), Validation (1243, 2), Test (2485, 2)
Fold 3: Train (8697, 2), Validation (1243, 2), Test (2485, 2)
Fold 4: Train (8697, 2), Validation (1243, 2), Test (2485, 2)
Fold 5: Train (8697, 2), Validation (1243, 2), Test (2485, 2)

New try

In [29]:
import geopandas as gpd
import pandas as pd
from sklearn.model_selection import train_test_split

# Load and prepare data
df = gpd.read_file('/explore/nobackup/people/spotter5/cnn_mapping/raw_files/nbac_1985.shp')
df2 = gpd.read_file('/explore/nobackup/people/spotter5/cnn_mapping/raw_files/ak_mtbs_1985.shp').to_crs(df.crs)

df['AOI'] = 'NBAC'
df2['AOI'] = 'MTBS'

# Concatenate the datasets
df = pd.concat([df, df2], ignore_index=True)
df = df[['AOI', 'ID']]

# Create a unique identifier
df['unique_id'] = df['AOI'].astype(str) + '_' + df['ID'].astype(str)

# Verify uniqueness of 'unique_id'
if df['unique_id'].duplicated().any():
    print("There are duplicates in the unique identifier.")
else:
    print("All unique identifiers are unique.")

# Shuffle once to randomize
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

# Initialize a set to track used indices
used_indices = set()
num_samples = len(df)
fold_size = num_samples // 5

# Ensure non-overlapping test sets
for fold in range(5):
    # Identify available indices
    available_indices = list(set(range(num_samples)) - used_indices)
    
    # For the last fold, include all remaining samples
    if fold == 4:
        test_indices = available_indices
    else:
        test_indices = pd.Series(available_indices).sample(n=fold_size, random_state=fold).tolist()
    used_indices.update(test_indices)
    
    # Select test, training, and validation sets
    test_df = df.iloc[test_indices]
    train_val_df = df.drop(test_indices)
    
    # Split train_val_df into training and validation sets (80% train, 20% val)
    train_df, val_df = train_test_split(train_val_df, test_size=0.125, random_state=fold)  # 0.125 * 0.8 = 0.1
    
    # Save datasets to CSV
    train_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/train_fold_{fold}.csv', index=False)
    val_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/val_fold_{fold}.csv', index=False)
    test_df.to_csv(f'/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_{fold}.csv', index=False)
    
    print(f"Fold {fold}: Train {train_df.shape}, Validation {val_df.shape}, Test {test_df.shape}")

All unique identifiers are unique.
Fold 0: Train (8697, 3), Validation (1243, 3), Test (2485, 3)
Fold 1: Train (8697, 3), Validation (1243, 3), Test (2485, 3)
Fold 2: Train (8697, 3), Validation (1243, 3), Test (2485, 3)
Fold 3: Train (8697, 3), Validation (1243, 3), Test (2485, 3)
Fold 4: Train (8697, 3), Validation (1243, 3), Test (2485, 3)

In [33]:
import pandas as pd

# Define file paths for each fold's test set
# test_files = [
#     '/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_0.csv',
#     '/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_1.csv',
#     '/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_2.csv',
#     '/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_3.csv',
#     '/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_4.csv'
# ]

test_files = [
    '/explore/nobackup/people/spotter5/cnn_mapping/Russia/test_fold_0.csv',
    '/explore/nobackup/people/spotter5/cnn_mapping/Russia/test_fold_1.csv',
    '/explore/nobackup/people/spotter5/cnn_mapping/Russia/test_fold_2.csv',
    '/explore/nobackup/people/spotter5/cnn_mapping/Russia/test_fold_3.csv',
    '/explore/nobackup/people/spotter5/cnn_mapping/Russia/test_fold_4.csv'
]


# Load each test set and concatenate them into a single DataFrame
test_dfs = [pd.read_csv(file) for file in test_files]
all_test_df = pd.concat(test_dfs, ignore_index=True)

# Check for duplicate entries based on both 'AOI' and 'ID' columns
# duplicates = all_test_df[all_test_df.duplicated(subset=['AOI', 'ID'], keep=False)]
duplicates = all_test_df[all_test_df.duplicated(subset=['ID'], keep=False)]

# Print results
if duplicates.empty:
    print("No overlap found between the test sets.")
else:
    print("Overlap found between the test sets:")
    print(duplicates)

No overlap found between the test sets.

In [25]:
duplicates.shape

(2354, 2)

In [20]:
test_id = test_df['ID']
train_id = train_df['ID']
val_id = val_df['ID']

#
common_elements = set(train_id).intersection(val_id)

# Convert the set back to a list, if needed
common_elements_list = list(common_elements)

print(common_elements_list)

[1025, 518, 7, 511, 523, 1036, 1039, 529, 19, 532, 533, 1047, 535, 1052, 541, 30, 1055, 543, 1057, 549, 550, 555, 45, 48, 562, 563, 50, 1077, 53, 1083, 1084, 574, 66, 1092, 582, 585, 83, 599, 89, 602, 1115, 603, 1119, 1120, 610, 100, 103, 104, 619, 1132, 1134, 115, 1142, 119, 1144, 121, 1146, 637, 1150, 641, 643, 645, 137, 651, 1167, 656, 145, 655, 1173, 151, 671, 673, 675, 676, 165, 173, 695, 184, 189, 702, 703, 709, 202, 724, 216, 730, 733, 228, 231, 753, 245, 249, 767, 257, 773, 276, 277, 795, 797, 798, 800, 289, 802, 808, 819, 820, 308, 312, 836, 328, 329, 841, 333, 334, 340, 352, 354, 355, 867, 869, 870, 368, 882, 370, 884, 372, 371, 887, 383, 384, 897, 901, 397, 915, 916, 924, 415, 421, 425, 432, 946, 950, 440, 953, 442, 464, 466, 474, 476, 993, 481, 995, 998, 999, 487, 493, 498, 1020, 509, 1023]

In [4]:
df.to_csv('/explore/nobackup/people/spotter5/cnn_mapping/Russia/delete.csv')

In [5]:
df.shape

(7740, 4)

For some reason I don't have all the fires in my val sets, need to see why

In [23]:
# Load each test fold
one = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_0.csv', usecols=['ID'])
two = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_1.csv', usecols=['ID'])
three = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_2.csv', usecols=['ID'])
four = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_3.csv', usecols=['ID'])
five = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/test_fold_4.csv', usecols=['ID'])

# Concatenate all test IDs with an indicator column for each fold
one['fold'] = 0
two['fold'] = 1
three['fold'] = 2
four['fold'] = 3
five['fold'] = 4
merged = pd.concat([one, two, three, four, five])

# Count occurrences of each ID across all folds
id_counts = merged.groupby('ID').size()

# Get IDs that appear in more than one fold
common_ids = id_counts[id_counts > 1].index.tolist()

if common_ids:
    print("Common IDs found across folds:", common_ids)
else:
    print("No common IDs across folds.")

Common IDs found across folds: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177]

In [17]:
# Merge the dataframes on the 'ID' column
# merged = pd.merge(one, two, on='ID')
# merged = pd.merge(merged, three, on='ID')
# merged = pd.merge(merged, four, on='ID')
# merged = pd.merge(merged, five, on='ID')

merged = pd.concat([one, two, three, four, five])

# Get the common IDs
common_ids = merged['ID'].unique()
print(common_ids)

[    1     4     9 ... 11240 11244 11247]

In [29]:

#12450 ,12375. #12450 is in one
if 12450 in common_ids:
    
    print("in list")
else:
    print('not in list')

not in list

In [4]:
import geopandas as gpd

df = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/Russia/anna_poly_check_ee.csv')
df = df.rename(columns={'Image': 'ID'})
df = df[df['ID'].isin(['29690000000000-0000000000', '29690000000000-0000023296']) == False]
df['ID'] = df['ID'].astype(int)

# Load shapefile data and merge with main dataframe
in_shape = gpd.read_file('/explore/nobackup/people/spotter5/cnn_mapping/Russia/anna_polygons.shp')
in_shape['geometry'] = in_shape['geometry'].apply(lambda geom: geom.wkt)
in_shape = pd.DataFrame(in_shape[['Year', 'ID', 'area']])
df = pd.merge(in_shape, df, on='ID', how='inner')
df['Year'] = df['Year'].astype(int)
df = df[df['Keep'] == 'Yes']

df = df.reset_index(drop = True)
df.shape

/tmp/ipykernel_1932323/1530560583.py:10: UserWarning: Geometry column does not contain geometry.
  in_shape['geometry'] = in_shape['geometry'].apply(lambda geom: geom.wkt)

(7740, 4)

make sure all the merged ids are in df

In [15]:
in_test = merged['ID'].unique()

in_anna = df['ID'].unique()

result = [item for item in in_test if item not in in_anna]

result

[]

In [16]:
result2 = [item for item in in_anna if item not in in_test]
result2

[]

In [9]:
merged.head()

Empty DataFrame
Columns: [ID]
Index: []